body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

div {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #128C7E; /* Color verde similar a WhatsApp */
}

#mensajes {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

#envio-mensajes {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #128C7E;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #075E54; /* Cambia el color al hacer hover */
}
