body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

div {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
}

#mensajes {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

#mensajes p {
    background-color: #e2f9ff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 70%;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}
